* {
    box-sizing: border-box;

}

body {
    background-image: url("https://img.freepik.com/free-photo/brown-wooden-textured-flooring-background_53876-129613.jpg");
    height: 100%;
    width: 100%;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black;
    text-align: center;
    text-shadow: 2px 2px 1px lightgrey;
    background-image: linear-gradient(red, yellow);
    /* This should be the back up if image doesn't load */
    background-image: url("https://img.freepik.com/free-vector/gradient-tropical-sunset-background_52683-131844.jpg");
    background-position-y: -250px;

}

.navbar {
    background-color: black;
    opacity: 0.8;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navlink {
    display: inline-block;
    font-size: 20px;
}

.navlink a {
    display: block;
    padding: 10px 50px;
    text-decoration: none;
    color: whitesmoke;
}

.navlink a:hover {
    background-color: rgb(95, 95, 95);
}

.image_container img {
    width: 20rem;
    max-height: 20rem;
    padding: 15px;
}

.image_container>div>img {
    flex: 1 1 auto;
    object-fit: contain;
}

.image_container {
    background-color: papayawhip;
    display: flex;
    justify-content: space-around;
    margin: 0 40px 20px 40px;
}

.content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    margin: 0px 40px;
    opacity: 80%;
    background-image: url(https://t3.ftcdn.net/jpg/01/28/23/78/360_F_128237812_MSybNqRyKkOeOfRtdikyC2MZ7E6yd15q.jpg);
    background-color: papayawhip;
}

.menu {
    background-image: url(https://t3.ftcdn.net/jpg/01/28/23/78/360_F_128237812_MSybNqRyKkOeOfRtdikyC2MZ7E6yd15q.jpg);
    background-repeat: repeat;
    opacity: 80%;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid black;
    column-count: 2;
    margin: 30px 40px;
}

.meal {
    font-size: 45px;
    text-decoration: underline;
    text-align: center;
    column-span: all;
}

span {
    float: right;
}

h4 {
    font-size: 25px;
    text-shadow: 1px 1px black;
    text-align: center;
}

.menu-item {
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://assets3.thrillist.com/v1/image/2758437/1200x630/flatten;crop_down;webp=auto;jpeg_quality=70);
    height: 100vh;
    width: 100%;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: larger;
}



.footer-container {
    bottom: 0;
    position: relative;
    width: 100%;
    background-color: rgb(17, 17, 17);
    padding: 1rem 0 2rem 0;
    z-index: 10;
    margin-top: 20px;
}

.footer {
    width: 100%;
    height: 20vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading1 {
    display: flex;
    flex-direction: column;
    margin-right: 12rem;
}

.footer-heading2 {
    display: flex;
    flex-direction: column;
    margin-right: 12rem;
}

.footer-heading3 {
    margin-right: 12rem;
}

.footer-heading3 a {
    color: white;
    padding: 7px;
}

.footer-heading3 i:hover {
    color: rgb(123, 123, 252);
}

.footer p {
    font-size: x-large;
    text-align: center;
}

.footer-email-form {
    margin-bottom: 2rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #b1b1b1b1;
    color: white;
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    transition: all 0.4 ease-out;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 3px;
}



@media screen and (max-width: 1025px) {
    .image_container img {
        height: 225px;
        width: 225px;
        justify-content: space-between;
    }

    .footer {
        height: 80vh;
    }

    .footer-email-form {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 769px) {

    .footer-container {
        margin-bottom: 0;
        height: 550px;
    }


    .footer {
        padding-top: 2rem;
        height: 60vh;
    }

    .content {
        font-size: large;
    }

    .menu {
        columns: 3;
    }

    .menu h2 {
        font-size: large;
    }


    .footer div {
        float: left;
        display: block;
        flex-direction: grid;
        padding: none;
    }

    .footer-heading1,
    .footer-heading2,
    .footer-heading3 {
        margin-left: 8rem;
    }

    .footer-email-form {
        margin-left: -1rem;
        justify-content: center;
    }

}

@media screen and (max-width: 500px) {

    .hamburger {
        display: block;
        padding: 8px;
        float: right;
        background: none;
        border: none;
    }

    .hamburger[aria-expanded=true] .bar1 {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger[aria-expanded=true] .bar2 {
        opacity: 0;
    }

    .hamburger[aria-expanded=true] .bar3 {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        left: -100%;
        top: 135px;
        z-index: 55;
        opacity: 1;
        position: fixed;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding: none;
        flex-direction: column;
        font-size: small;
    }

    .navlink {
        display: block;
        margin: 16px 0;
    }

    .navbar.active {
        left: 0;
    }

    #mobile-container {
        height: 50px;
        width: 100%;
        background-color: black;
        z-index: 45;
        padding-right: 10px;
    }

    .hero-image {
        top: 10px;
        height: 40vh;
    }

    .menu {
        margin: auto;
        font-size: small;
        columns: 1;
        justify-content: center;
        padding-right: 10px;
    }

    .content {
        margin: auto;
    }

    .image_container {
        display: grid;
        width: 350px;
        margin: auto;

    }

    .footer-email-form {
        margin-top: 4rem;

    }

    #footer-email-btn {
        justify-content: center;
        margin-left: auto;
    }

    .footer div {
        margin: auto;
    }

    div.footer-heading3 {
        display: inline-flex;
    }

    .footer-heading3 p {
        padding-right: 25px;
    }

    .footer-heading3 i {
        margin-top: 1rem;
    }

    .footer-container {
        margin-bottom: 0;
        height: 550px;
    }
}